<div class="container">
    <div class="row">
        <li role="presentation"><a routerLink="add-book">Add Book</a></li>
        <li role="presentation"><a routerLink="edit-book">Edit Book</a></li>
        <li role="presentation"><a routerLink="add-book-isbn">Add Book by ISBN</a></li>
        <li role="presentation"><a routerLink="retrieve-book-isbn">Retrieve Book by ISBN</a></li>
        <li role="presentation"><a routerLink="fetch-book-details-user">Display list of Users Books</a></li>
    </div>
</div>
