<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <h4>Sign Up</h4>
            <form [formGroup]="signUpForm" (ngSubmit)="signUp();">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" />
                    <div *ngIf="submitted && f.email.errors">
                        <span *ngIf="f.email.errors.required" class="help-block">Please enter the email</span>
                        <span *ngIf="f.email.errors?.pattern" class="help-block">Please enter email format</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" />
                    <div *ngIf="submitted && f.password.errors">
                        <span *ngIf="f.password.errors.required" class="help-block">Please enter the password</span>
                        <span *ngIf="f.password.errors?.minlength" class="help-block">Please enter password with minimum length of 6 characters</span>
                    </div>
                </div>
                <div class="form-group">
                  <label id="register-as-label">Register as :</label>
                  <div class="radio" *ngFor="let role of roles">
                    <label>
                      <input type="radio" formControlName="role" [value]="role">
                      {{role}}
                    </label>
                  </div>
                </div>
                <div class="form-group">
                    <label>UserName</label>
                    <input type="text" formControlName="username" class="form-control" />
                    <div *ngIf="submitted && f.username.errors">
                        <span *ngIf="f.username.errors.required" class="help-block">Please enter the username</span>
                        <span *ngIf="f.username.errors?.pattern" class="help-block">Please enter alphabets only</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Upload Profile Pic</label>
                    <input #file type="file" accept='image/*' formControlName="profilePic" (change)="preview(file.files)" />
                    <img [src]="imgURL" height="70" width="70" *ngIf="imgURL">
                    <span class="help-block" *ngIf="message">{{message}}</span>
                    <div *ngIf="submitted && f.profilePic.errors">
                        <span *ngIf="f.profilePic.errors.required" class="help-block">Please select the profilePic</span>
                    </div>
                </div>
                <div class="form-group">
                    <div formArrayName="socialIds">
                        <label>Provide your socialIds</label><br>
                        <button class="btn btn-primary" type="button" (click)="onAddSocialIds()">Add socialIds</button><br>
                        <hr>
                        <div class="form-group" *ngFor="let socialId of formDataForSocialIds.controls; let i = index">
                          <div class="row">
                              <div class="col-lg-9 col-xs-9">
                                  <input type="text" class="form-control" [formControlName]="i" required>
                              </div>
                              <div class="col-lg-2">
                                  <button type="button" class="form-control" class="btn btn-danger" (click)="deleteSocialId(i)">X</button>
                              </div>
                          </div>
                          <hr>
                        </div>
                        <div *ngIf="submitted && f.socialIds.errors">
                            <span *ngIf="f.socialIds.errors.required" class="help-block">Please Add the socialIds</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div formArrayName="friends">
                        <label> Friends of Yours</label><br>
                        <button class="btn btn-primary" type="button" (click)="onAddFriends()">Add Friends</button>
                        <br>
                        <hr>
                        <div class="form-group" *ngFor="let friend of formData.controls; let i = index">
                          <div class="row">
                              <div class="col-lg-9 col-xs-9">
                                  <input type="text" class="form-control" [formControlName]="i" required>
                              </div>
                              <div class="col-lg-2">
                                  <button type="button" class="form-control" class="btn btn-danger" (click)="deleteFriend(i)">X</button>
                              </div>
                          </div>
                          <hr>
                        </div>
                        <div *ngIf="submitted && f.friends.errors">
                            <span *ngIf="f.friends.errors.required" class="help-block">Please Add the friends</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">SignUp</button>
                </div>
            </form>
        </div>
    </div>
</div>
