<div class="container">
  <div class="row">
      <li role="presentation"><a routerLink="search-book">Search Book by Author/Title</a></li>
      <li role="presentation"><a routerLink="filter-book">Filter Book by Book Genre/Category</a></li>
      <li role="presentation"><a routerLink="book-details">View Book Details</a></li>
      <li role="presentation"><a routerLink="favorite-genre">Favorite Genre</a></li>
      <li role="presentation"><a routerLink="view-profile">View Profile</a></li>
    </div>
</div>
