/* You can add global styles to this file, and also import other style files */

@import "~css-star-rating/scss/star-rating";
$redColor: red;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span.help-block {
  color: $redColor;
}
.margin-right {
  margin-right: 5%;
}
.margin-top {
  margin-top: 3%;
}
:focus {
    outline:0px;
}
// .rating {
//     align-items: start;
//     justify-content: flex-start;
//     margin-bottom: 5px;
// }

.rating {
  align-items: start;
  justify-content: flex-start;
  margin-left: 36px;
  margin-top: -25px;
}

.googleSignIn {
  position: absolute;
  bottom: 0px;
  left: 25%;
}
